.Wrapper
  .AccountPage
    .AccountPage__header
      %h1
        = link_to root_path do
          = image_tag '/assets/logo/logo.png', class: 'header__logo'
      %h5
      = link_to "ログアウト  ／", destroy_user_session_path, method: :delete, class: 'Button'
      = link_to "トップページ", root_path, class: 'Button'
    .AccountPage__form
      .AccountPage__new
        %h3 アカウント編集
      = form_with local: true do |f|
        .FormField
          .FormField__content
            .FormField__label--normal
              = f.label :ニックネーム
            .FormField__input--normal
              = f.text_field :name, autofocus: true, placeholder: "新しいニックネームを入力"
            .FormField
              .FormField__label--normal
                = f.label :メールアドレス
              .FormField__input--normal
                = f.email_field :email, placeholder: "新しいメールアドレスを入力"
              .actions  
                = f.submit "情報更新", class: 'Button UserButton'
    .AccountPage__footer
      %nav
        %ul
          %li
            =link_to '#', class:'about-furima__privacy-policy' do
              プライバシーポリシー
          %li
            =link_to '#', class:'about-furima__rule' do
              FURIMA利用規約
          %li
            =link_to '#', class:'about-furima__point-rule' do
              特定商取引に関する表記
      = link_to root_path do
        = image_tag '/assets/logo/logo-white.png', class:'footer-logo'
      .footer__company-logo
        © FURIMA
