-# ヘッダーは部分テンプレートにする
.header
  .header-inner
    .header-main
      = image_tag '/assets/logo/logo.png', class: 'header-main__logo'
      .header-main__search-box
        = form_with url: '#', method: :get, local: true do |f|
          = f.text_field :keyword, class:'header-main__search-box--input', placeholder:"キーワードから探す"
          = image_tag '/assets/icon/icon-search 1.png', class:'header-main__search-box--submit'
      .header-main__submit-btn
    .header-navigation
      %ul.search-list
        %li.search-list__category
          カテゴリー
        %li.search-list__brand
          ブランド
      %ul.login-box
        %li.login-box__login
          ログイン
        %li.login-box__registration
          新規会員登録
.toppage-body
  .sell-btn
    .sell-btn__text
      出品する
    = image_tag '/assets/icon/icon_camera.png', class:'sell-btn__icon'
  .main-image
    .main-image__text-box
      .main-image__text-box__headline
        %h2 人生を変えるフリマアプリ
      .main-image__text-box__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
    .main-icons
      =image_tag '/assets/icon/Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class:'main-icons__apple'
      =image_tag '/assets/icon/google-play-badge.png', class:'main-icons__google'
  .reason-box
    .reason-headlines
      .reason-headlines__text
        %h2 FURIMAが選ばれる3つの理由
    .reasons-container
      .first-reason
        .first-reason__image
          .reason-number__first
            1
        .first-reason__headline
          %span 3分 
          ですぐに出品
        .first-reason__text
          スマホで入力するだけで簡単に出品できる！
      .second-reason
        .second-reason__image
          .reason-number__second
            2
        .second-reason__headline
          %span シンプル 
          で使いやすい
        .second-reason__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .third-reason
        .third-reason__image
          .reason-number__third
            3
        .third-reason__headline
          手数料 
          %span 業界最安
        .third-reason__text
          最大3%でお得に出品&購入！
  .sub-image
    .sub-image__headling
      %h2 会員数日本一位
    .sub-image__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .sub-iconbox
      =image_tag '/assets/icon/Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class:'sub-iconbox__apple'
      =image_tag '/assets/icon/google-play-badge.png', class:'sub-iconbox__googole'
  .fuature-box
    .fuature-box_headling
      FURIMAの特徴
    .first-fuature
      = image_tag '/assets/icon/icon-01.png', class:'first-fuature__image'
      .first-fuature__title
        簡単に売り買いできる
      .first-fuature__text
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .second-fuature
      = image_tag '/assets/icon/icon-02.png', class:'second-fuature__image'
      .second-fuature__title
        売上金は即日振込みに対応
      .second-fuature__text
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .third-fuature
      = image_tag '/assets/icon/icon-03.png', class:'third-fuature__image'
      .third-fuature__title
        様々な支払いに対応
      .third-fuature__text
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickup-categories
    .pickup-categories__headline
      ピックアップカテゴリー
    .pickup-categories__link
      新規投稿
    .pickup-categories__container
      .category-item-box
        =image_tag '',class:'category-item-box__image'
        .category-item-box__name
          ee
        .category-item-box__bottom-box
          .category-item-price
            1000円
            (税込)
          .category-item-favorite
            ★ 0
      .category-item-box
        .category-item-box__image
        .category-item-box__name
          product3
        .category-item-box__bottom-box
          .category-item-price
            30000円
            (税込)
          .category-item-favorite
            ★ 0
      .category-item-box
        .category-item-box__image
        .category-item-box__name
          product2
        .category-item-box__bottom-box
          .category-item-price
            20000円
            (税込)
          .category-item-favorite
            ★ 0
      .category-item-box
        .category-item-box__image
        .category-item-box__name
          product2
        .category-item-box__bottom-box
          .category-item-price
            20000円
            (税込)
          .category-item-favorite
            ★ 1
  .pickup-brand
    .pickup-brand__headline
      ピックアップブランド
    .pickup-brand__link
      アーカイバ
    .pickup-brand__container
      .brand-item-box
        .brand-item-box__image
        .brand-item-box__name
          ee
        .brand-item-box__bottom-box
          .brand-item-price
            1000円
            (税込)
          .brand-item-favorite
            ★ 0
      .brand-item-box
        .brand-item-box__image
        .brand-item-box__name
          product3
        .brand-item-box__bottom-box
          .brand-item-price
            30000円
            (税込)
          .brand-item-favorite
            ★ 0
      .brand-item-box
        .brand-item-box__image
        .brand-item-box__name
          product2
        .brand-item-box__bottom-box
          .brand-item-price
            20000円
            (税込)
          .brand-item-favorite
            ★ 0
      .brand-item-box
        .brand-item-box__image
        .brand-item-box__name
          product1
        .brand-item-box__bottom-box
          .brand-item-price
            10000円
            (税込)
          .brand-item-favorite
            ★ 1
-# フッターは部分テンプレートにする
.footer
  .footer-image
    .footer-image__text
      だれでもかんたん、人生を変えるフリマアプリ
    .footer-image__headline
      今すぐ無料ダウンロード！
    .footer-icons
      .footer-icons__apple
      .footer-icons__google
  .footer-info
    .link-box
      .about-furima
        .about-furima__headline
          FURIMAについて
        .about-furima__company-outline
          会社概要（運営会社）
        .about-furima__privacypolicy
          プライバシーポリシー
        .about-furima__rule
          FURIMA利用規約
        .about-furima__pointrule
          ポイントに関する特約
      .look-furima
        .look-furima__headline
          FURIMAを見る
        .look-furima__categories
          カテゴリー一覧
        .look-furima__brands
          ブランド一覧
      .help-guide
        .help-guide__headline
          ヘルプ＆ガイド
        .help-guide__user-guide
          FURIMAガイド
        .help-guide__logo-guideline
          FURIMAロゴ利用ガイドライン
        .help-guide__info
          お知らせ
  =image_tag '/assets/logo/logo-white.png', class:'footer-logo'