= render 'profiles/header'

.main-new
  .main-new__form
    = form_with model:@item, method: :PATCH, local:true do |f|
      .sale-box
        .sale-box__image
          .image-box
            .image-box__title
              %h2
                出品画像
              %span.image-box__title--required
                必須
            %p.image-box__explain
              最大4枚までアップロードできます
          .post__drop__box__container
            .prev-content
              - @item.item_images.each do |image|
                -if image.persisted?
                  .preview-box
                    .upper-box
                      = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                    .lower-box
                      .delete-box
                        .delete-btn
                          %span 削除
            .label-content
              = f.label :"item_images_attributes_#{@image_length}_image", class: "label-box", id: "label-box--#{@item.item_images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :item_images do |i|
                = i.file_field :image, class: "hidden-field", data: {index: i.index}
                -if i.object.persisted?
                  = i.check_box:_destroy, class: "hidden-checkbox"
              -# - @item.item_images.length.upto(3) do |i|
              -#   %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
 
        .sale-box__product
          .product-box
            .product-box__title
              %h2
                商品名
              %span.image-box__title--required
                必須
            = f.text_field :name, class: 'product-box__title-input', placeholder: "40文字まで", maxlength: "40"

            .product-box__explain
              %h2
                商品の説明
              %span.product-box__explain--required
                必須
            = f.text_area :introduction, class: 'product-box__explain-input', placeholder: "商品の説明（必須 1,000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe, maxlength: "1000"
            .product-box__explain-input--count
              %span 0/1000

        .sale-box__detail
          .sale-box__guidance
            商品の詳細
          .detail-box
            .listing-product-detail__category
              .detail-box__category
                %h2
                  カテゴリー
                %span.detail-box__category--required
                  必須
              .detail-box__category-select
                = f.select :category_id, @category_parent_array, {selected:@item.category.parent.parent.name}, {class: 'detail-box__category-input', id: 'parent_category'}
                = f.select :child_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{},{class: 'category-wrapper__category form-control', id: 'children_wrapper'}
                = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{},{class: 'category-wrapper__category form-control', id: 'grandchildren_wrapper'}
            .detail-box__brand
              %h2
                ブランド
              %span.detail-box__brand--arbitrary
                任意
            = f.fields_for :brand do |b|
              =b.text_field :name, class: 'detail-box__brand-input', placeholder: "例）シャネル"
            .detail-box__size
              %h2
                サイズ
              %span.detail-box__size--arbitrary
                任意
            = f.text_field :size, class:'detail-box__size-input', placeholder:'サイズを記入してください'
            .detail-box__condition
              %h2
                商品の状態
              %span.detail-box__condition--required
                必須
            .detail-box__condition-select
              = f.select :item_condition,["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], prompt: "選択して下さい", class: 'detail-box__condition-input'

        .sale-box__delivery
          .sale-box__guidance
            配送について
          .delivery-box
            .delivery-box__burden
              %h2
                配送料の負担
              %span.delivery-box__burden--required
                必須
            .delivery-box__burden-select
              = f.select :delivery_burden,["送料込み(出品者負担)","着払い(購入者負担)"], prompt: "選択して下さい", class: 'detail-box__burden-input'
            .delivery-box__method
              %h2
                配送方法
              %span.delivery-box__method--required
                必須
            .delivery-box__method-select
              = f.select :delivery_method,["未定","クロネコヤマト","ゆうパック","ゆうメール"], prompt: "選択して下さい", class: 'detail-box__method-input'
            .delivery-box__shippers
              %h2
                発送元の地域
              %span.delivery-box__shippers--required
                必須
            .delivery-box__shippers-select
              = f.collection_select :shipper, Prefecture.all, :name, :name, prompt: "選択して下さい", class: 'delivery-box__shippers-input'
            .delivery-box__shipping-day
              %h2
                発送までの日数
              %span.delivery-box__shipping-day--required
                必須
            .delivery-box__shipping-day-select
              = f.select :shipping_day,["1〜2日で発送","2〜3日で発送","4〜7日で発送"], prompt: "選択して下さい", class: 'delivery-box__shipping-day-input'

        .sale-box__price
          .sale-box__guidance
            価格（¥300〜9,999,999）
          .price-box
            .price-box__price
              %h2
                販売価格
              %span.price-box__price--required
                必須
              .price-box__form
                %span.price-box__form--yen
                  ¥
                = f.text_field :price, class: 'price-box__form--input', placeholder: "0"
            .price-box__commission
              %h2
                販売手数料
              %span
                （3%）
              %span.price-box__commission--result
                —
            .price-box__profit
              %h2
                販売利益
              %span.price-box__profit--result
                —

        .sale-box__sale
          .sale-box
            = f.submit "変更する", class:"sale-box__sell"
            = link_to '#' do
              .sale-box__save
                %p
                  下書きに保存
            = link_to '#' do
              .sale-box__back
                %p
                  もどる
                  
        .sale-box__caution
          %p
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

= render 'profiles/footer'
