= render 'homes/header'

.main-show
  .item-content
    .item-box
      .item-box__name
        %h2
          product3
      .item-box__body
        %ul.main-body-ul
          %li.main-body-li
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: 'main-body-li__img'
            %ul.sub-body-ul
              %li.sub-body-li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: 'sub-body-li__img'
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class: 'sub-body-li__img'
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", class: 'sub-body-li__img'

      .item-box__price
        %span.item-box__price--yen
          ¥30000
        .item-box__price-detail
          %span
            (税込)
          %span
            送料込み
      .item-box__text
        親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
      = render 'table'
      .item-box__option
        %ul.item-box__option--ul
          %li.item-box__like-btn
            .item-box__like-btn--icon
              = icon('fas','star')
            お気に入り 0
        %ul.item-box__option--ul
          %li.item-box__unsuitable-btn
            = link_to '#', class:'item-box__unsuitable-btn--icon' do
              = icon('fas','flag')
              不適切な商品の通報

  .comment-box
  %ul.links
    %li.links__front
      = link_to '#',class:'links__front--icon' do
        = icon('fas','angle-left')
        %span
        前の商品
    %li.links__back
      = link_to '#',class:'links__back--icon' do
        %span
        後ろの商品
        = icon('fas','angle-right')

  .lists-box
    = link_to '#', class:'see-more' do
      ベビー・キッズをもっと見る
    .item-lists
      .item-list
        = link_to '#' do
          .item-list__head
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", class: 'item-list__head--img'
          .item-list__body
            .item-list__body--name
              %h3 ee
            .item-list__body--text
              %ul
                %li 1000円
                %li
                  = icon('fas','star')
                  0
              %p (税込)

= render 'homes/footer'
