= render 'homes/header'
= render 'homes/sell-btn'
- breadcrumb :item
= render "layouts/breadcrumbs"

.main-show
  .item-content
    .item-box
      .item-box__name
        %h2
          = @item.name
      .item-box__body
        %ul.main-body-ul
          %li.main-body-li
            = image_tag "#{@image_first.image}", class: 'main-body-li__img'
            %ul.sub-body-ul
              %li.sub-body-li
                - @images[1..-1].each do |i|
                  = image_tag "#{i.image}", class: 'sub-body-li__img'
      .item-box__price
        %span.item-box__price--yen
          ¥
          = @item.price
        .item-box__price-detail
          %span
            (税込)
          %span
            送料込み
      .item-box__text
        = @item.introduction
      = render 'table'
      .item-box__option
        %ul.item-box__option--ul
          - if user_signed_in? && @item.seller_id == current_user.id
            = link_to "出品を取りやめる", item_path(@item.id), method: :delete, class:"item-box__delete-btn"
          -else
            %li.item-box__like-btn
              .item-box__like-btn--icon
                = icon('fas','star')
              お気に入り 0
        %ul.item-box__option--ul
          %li.item-box__unsuitable-btn
            = link_to '#', class:'item-box__unsuitable-btn--icon' do
              = icon('fas','flag')
              不適切な商品の通報

  .comment-box
    .comment-content
      = form_with model:@comment, local:true do |f|
        = f.text_area :content, class: 'comment-content__input', placeholder: ""
      .comment-content__notice
        %p
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = link_to '#', class:'comment-content__btn' do
        = icon('fas','comment')
        コメントする

  %ul.links
    %li.links__front
      = link_to '#',class:'links__front--icon' do
        = icon('fas','angle-left')
        %span
        前の商品
    %li.links__back
      = link_to '#',class:'links__back--icon' do
        %span
        後ろの商品
        = icon('fas','angle-right')

  .lists-box
    = link_to '#', class:'see-more' do
      ベビー・キッズをもっと見る
    .item-lists
      .item-list
        = link_to '#' do
          .item-list__head
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", class: 'item-list__head--img'
          .item-list__body
            .item-list__body--name
              %h3 ee
            .item-list__body--text
              %ul
                %li 1000円
                %li
                  = icon('fas','star')
                  0
              %p (税込)

= render 'homes/footer'
